<!DOCTYPE html>
<html>
  <head>
    <title>Eknok</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
  </head>
  <body>
    <%= render 'rendering/navi' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <%= render 'rendering/footer' %>
</html>
